<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <sitecoreBotFramework>
            <actionMappings>
                <actionMapping id="78aa458b-f1f1-4845-802f-50abc14ebd35"
                               type="SC90.Bot.Infrastructure.DialogActions.SendMessage, SC90.Bot"
                               description="Send Message"></actionMapping>
                <actionMapping id="2376ba02-dc5f-41eb-a304-774e7d410088"
                               type="SC90.Bot.Infrastructure.DialogActions.Prompt, SC90.Bot"
                               description="Prompt Dialog"></actionMapping>
                <actionMapping id="9901d858-53dc-4d25-84de-299745a0f829"
                               type="SC90.Bot.Infrastructure.DialogActions.Condition, SC90.Bot"
                               description="Conditoin"></actionMapping>
                <actionMapping id="223a986a-39a9-4f44-b540-af83752e097e"
                               type="SC90.Bot.Infrastructure.DialogActions.SendFile, SC90.Bot"
                               description="Send Attachment Card"></actionMapping>
                <actionMapping id="e3ee4f79-f59d-40c3-9394-1651dfc1cef9"
                               type="SC90.Bot.Forms.Actions.Infrastructure.DialogActions.SubmitForm, SC90.Bot.Forms.Actions"
                               description="Submit form"></actionMapping>
            </actionMappings>
        </sitecoreBotFramework>
    </sitecore>
</configuration>
