<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <sitecoreBotFramework>
            <telegram botToken="1117299627:AAGdsk6vXIRcmZ13XfHWc4HYGCMqGCwUTBU" 
                      accessToken=""
                      webHookUrl="">
            </telegram>
        </sitecoreBotFramework>
    </sitecore>
</configuration>
