<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
      <!-- Setup the tunnel with NGROK to test locally:-->
      <!-- - C:\Tools\ngrok.exe http 127.0.0.1:80 -host-header=test93sc -region au -->
      <!-- - Update the webHookUrl as ngrok url changes every time its starting up -->
      <!-- - Register the hook by calling /sitecore/api/TelegramApi/questionBot/Register -->
      <sitecoreBotFramework>
            <telegram botToken="1117299627:AAGdsk6vXIRcmZ13XfHWc4HYGCMqGCwUTBU" 
                      accessToken="1117299627:AAGdsk6vXIRcmZ13XfHWc4HYGCMqGCwUTBU"
                      webHookUrl="https://061b98dbb806.au.ngrok.io/sitecore/api/TelegramApi/questionBot/Post">
            </telegram>
        </sitecoreBotFramework>
    </sitecore>
</configuration>
