<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
      <!-- Setup the tunnel with NGROK to test locally:-->
      <!-- ssh -R ager:80:localhost:9888 serveo.net -->
      <!-- Bot is tunneled through http://ager.serveousercontent.com to port 9888-->
      <sitecoreBotFramework>
            <telegram botToken="1117299627:AAGdsk6vXIRcmZ13XfHWc4HYGCMqGCwUTBU" 
                      accessToken="1117299627:AAGdsk6vXIRcmZ13XfHWc4HYGCMqGCwUTBU"
                      webHookUrl="https://c35d120d835b.ngrok.io/sitecore/api/TelegramApi/questionBot/Post">
            </telegram>
        </sitecoreBotFramework>
    </sitecore>
</configuration>
