<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <sitecoreBotFramework>
          <actionMappings>
            <actionMapping id="78aa458b-f1f1-4845-802f-50abc14ebd35" 
                           type="SC90.Bot.Infrastructure.DialogActions.SendMessage, SC90.Bot"></actionMapping>
            <actionMapping id="2376ba02-dc5f-41eb-a304-774e7d410088" 
                           type="SC90.Bot.Infrastructure.DialogActions.Prompt, SC90.Bot"></actionMapping>
            <actionMapping id="2376ba02-dc5f-41eb-a304-774e7d410088" 
                           type="SC90.Bot.Infrastructure.DialogActions.Condition, SC90.Bot"></actionMapping>
          </actionMappings>
      </sitecoreBotFramework>
  </sitecore>
</configuration>
