<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <sitecoreBotFramework>
            <actionMap>
              <actionMapping id="{3FB6CAD6-C90E-498D-A198-B72BE1E79D47}"
                               type="SC90.Bot.Telegram.Actions.SendMessageAction, SC90.Bot.Telegram"
                               description="Send Message"></actionMapping>
              <actionMapping id="{374A576C-9474-4D09-8CA1-C76AE2F032BC}"
                             type="SC90.Bot.Telegram.Actions.ChangeStateAction, SC90.Bot.Telegram"
                             description="Change State"></actionMapping>
              <actionMapping id="{FA20C787-7C17-4E30-9F7C-2713A7E6A652}"
                             type="SC90.Bot.Telegram.Actions.ConditionAction, SC90.Bot.Telegram"
                             description="Condition"></actionMapping>
              <actionMapping id="{6E103180-F9D0-4E60-B940-8F336DBFE973}"
                             type="SC90.Bot.Telegram.Actions.SetContextItemAction, SC90.Bot.Telegram"
                             description="Set Context Item"></actionMapping>
              <actionMapping id="{719BDBBA-9C8A-4312-A13D-10C2F57FF326}"
                             type="SC90.Bot.Telegram.Actions.SetSessionVariableAction, SC90.Bot.Telegram"
                             description="Set Session Variable"></actionMapping>
              <!-- Scheduling  -->
              <actionMapping id="{09A53C3B-F4AC-4877-9900-7D4C9DA61F1E}"
                             type="SC90.Bot.Telegram.Actions.SetIntervalAction, SC90.Bot.Telegram"
                             description="Set Interval"></actionMapping>
              <actionMapping id="{2F2E8343-91AE-40B0-A0D0-F4FBD2BFED96}"
                             type="SC90.Bot.Telegram.Actions.SetTimeoutAction, SC90.Bot.Telegram"
                             description="Set Timeout"></actionMapping>
              <actionMapping id="{877A013A-8B95-48D7-B106-9B0459A9904A}"
                             type="SC90.Bot.Telegram.Actions.StopJobAction, SC90.Bot.Telegram"
                             description="Stop Job"></actionMapping>
              <actionMapping id="{B7F4BEE9-0674-4E75-8846-BBF878E785C6}"
                             type="SC90.Bot.Telegram.Actions.ClearSessionAction, SC90.Bot.Telegram"
                             description="Clear Session"></actionMapping>
              <actionMapping id="{466CA225-527E-4A78-9F47-D4B556FB3AD7}"
                             type="SC90.Bot.Telegram.Actions.RunDialogueAction, SC90.Bot.Telegram"
                             description="Run Dialogue"></actionMapping>
            </actionMap>
        </sitecoreBotFramework>
    </sitecore>
</configuration>
