<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net471" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net462" />
  <package id="Glass.Mapper.Sc.90" version="5.3.15" targetFramework="net462" />
  <package id="Glass.Mapper.Sc.90.Core" version="5.3.15" targetFramework="net462" />
  <package id="Glass.Mapper.Sc.90.Mvc" version="5.3.15" targetFramework="net462" />
  <package id="Glass.Mapper.Sc.90.WebForms" version="5.3.15" targetFramework="net462" />
  <package id="HedgehogDevelopment.TDS" version="6.0.0.14" targetFramework="net471" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net471" />
  <package id="Microsoft.Bot.Builder" version="3.19.1.44133" targetFramework="net462" />
  <package id="Microsoft.Bot.Connector" version="3.19.1.44133" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Logging" version="5.2.2" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.2.2" targetFramework="net462" />
  <package id="Microsoft.Net.Compilers" version="3.6.0" targetFramework="net462" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="Sitecore.Kernel" version="9.3.0" targetFramework="net471" developmentDependency="true" requireReinstallation="true" />
  <package id="Sitecore.Logging" version="9.3.0" targetFramework="net471" developmentDependency="true" requireReinstallation="true" />
  <package id="Sitecore.Services.Infrastructure" version="9.3.0" targetFramework="net471" developmentDependency="true" requireReinstallation="true" />
  <package id="Sitecore.Update" version="9.3.0" targetFramework="net471" developmentDependency="true" requireReinstallation="true" />
  <package id="Sitecore.XA.Foundation.Multisite" version="9.3.0" targetFramework="net471" developmentDependency="true" requireReinstallation="true" />
  <package id="Sitecore.Zip" version="9.3.0" targetFramework="net471" developmentDependency="true" requireReinstallation="true" />
</packages>